/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: #eef2f5;
  color: #333;
  padding: 40px;
}

/* Title */
h1, h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

/* pricipal Containers */
form, #searchResult {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}
